<div class="container mt-5" style="height: '400px'; overflow: 'auto'" >
    <div class="spinner-border ml-auto mr-auto" role="status" *ngIf="loading">
        <span class="sr-only">Loading...</span>
    </div>
    <table class="table table-hover" *ngIf="!loading">
        <thead class="sticky-table">
            <tr>
                <th scope="col">#</th>
                <th scope="col">country</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
            </tr>
        </thead>
        <tbody >
            <tr *ngFor="let stat of stats">
                <th scope="row">{{stat.id}} </th>
                <td>{{stat.title}}</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
        </tbody>
    </table>
</div>