<div class="container mt-5" style="height: '400px'; overflow: 'auto'" >
    <div class="spinner-border ml-auto mr-auto" role="status" *ngIf="loading">
        <span class="sr-only">Loading...</span>
    </div>
    <table class="table table-hover" *ngIf="!loading">
        <thead class="sticky-table">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Continent</th>
                <th scope="col">CO2</th>
                <th scope="col">Temperature</th>
            </tr>
        </thead>
        <tbody >
            <tr *ngFor="let stat of stats; index as i">
                <th scope="row">{{ i + 1}} </th>
                <td> {{stat.name}} </td>
                <td> {{stat.mtco2}} </td>
                <td>{{stat.temperature}}</td>
            </tr>
        </tbody>
    </table>
</div>