<div class="container mt-5" style="height: '400px'; overflow: 'auto'">
    <table class="table table-hover">
        <thead class="sticky-table">
            <tr>
                <th scope="col">#</th>
                <th scope="col">country</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let stat of stats">
                <th scope="row">{{stat.id}} </th>
                <td>{{stat.title}}</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
        </tbody>
    </table>
</div>