<footer class="page-footer font-small blue mt-5" >
    <code class="container text-center">
        <div>Icons made by 
            <a href="https://www.flaticon.es/autores/flat-icons" title="Flat Icons">Flat Icons</a> /
            <a href="https://www.flaticon.es/icono-gratis/apoyar_994373" title="monkik">monkik</a> /
            <a href="https://www.flaticon.es/autores/those-icons" title="Those Icons">Those Icons</a> /
            <a href="https://www.flaticon.es/autores/pixel-perfect" title="Pixel perfect">Pixel perfect</a>/
            <a href="https://www.flaticon.es/autores/freepik" title="Freepik">Freepik</a>/
            <a href="https://www.flaticon.es/autores/eucalyp" title="Eucalyp">Eucalyp</a>
            from <a href="https://www.flaticon.es/" title="Flaticon">www.flaticon.es</a>
            
        </div>
        <div>
            Made by Paulo Cesar, Andres Vidal, Cristian Ordoñez, luis Carlos Ruiz, Daniel Quesada
        </div>
        <div class="mt-1">
            <a href="https://github.com/Bye-Smoke"> <img src="assets/img/GitHub.png" style="height: 20px; width: 20px;" /></a>
        </div>
        <div class="mt-1"> {{year}} </div>
    </code>
  </footer>