<!-- <div class = "contain">
    <img src="https://docserver.gesdisc.eosdis.nasa.gov/public/project/Images/S5P_OFFL_L2__CH4____HiR_1.png"/>
</div> -->
<div class = "container mt-5 text-justify" >
    <p >
        <span style="font-size: 1.77em;">What is Climate Change?</span>        
      
    </p>
    
    <h4>
        "Climate Change isn't limited to one region, it impacts the whole of the Earth. It is causing polar ice sheets and glaciers to melt; and sea levels to rise. Extreme weather events such as typhoons and hurricanes are becoming more common in some regions of the world, while others regions experience more punishing droughts and heat waves."
    </h4>
    <p>
        "The warmer ocean surface temperatures  impact corals and alter coral reef communities by prompting coral bleaching events and altering ocean chemistry. These impacts affect corals and the many organisms that use coral reefs as habitat."
    </p>
    <table width = "100%">
        <tbody>
            <tr>
                <td>
                    <img style="width:100%;" src="https://www.carbonfootprint.com/images/wide_flood.jpg"/>
                </td>
            </tr>
        </tbody>
    </table>
</div>