<app-navbar></app-navbar>
<router-outlet></router-outlet>
<!-- Footer -->
<footer class="page-footer font-small blue mt-5" >

    <!-- Copyright -->
    <code class="container text-center">
        <div>Icons made by 
            <a href="https://www.flaticon.es/autores/flat-icons" title="Flat Icons">Flat Icons, </a>
            <a href="https://www.flaticon.es/icono-gratis/apoyar_994373" title="monkik"> monkik</a>
            from <a href="https://www.flaticon.es/" title="Flaticon">www.flaticon.es</a>
            <a href="https://www.flaticon.es/autores/those-icons" title="Those Icons">Those Icons</a> 
            from <a href="https://www.flaticon.es/" title="Flaticon"> www.flaticon.es</a>
        </div>
        <div class="mt-3">
            <a href="https://github.com/FelipeVidal/carbonfootprint"> <img src="assets/img/GitHub.png" style="height: 20px; width: 20px;" /></a>
        </div>
    </code>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->